{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <div class="g-recaptcha" data-sitekey="6LevPbwUAAAAAGJ4cWOe178G7FOakMH_qxX3YezP"></div>


        <button class="btn btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
