{% extends 'base.html.twig' %}

{% block title %}Intermediaire{% endblock %}

{% block body %}
    {% if app.user.username == intermediaire.email  %}
    <h1>Intermediaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ intermediaire.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ intermediaire.nom }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ intermediaire.dateCreation ? intermediaire.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>


             <tr>
                <th>Souscripteurs</th>
                {% for souscripteur in intermediaire.souscripteurs  %}
                <td>{{ souscripteur.nom }}</td>
                {% endfor %}
            </tr>
                <tr>
                <th>Nom</th>
                <th>Souscripteur<th>
                <th>Date de création</th>
                <th>Date d'envoi<th>
            </tr>

                {% for listing in intermediaire.listings  %}
                <tr>
                <td>{{  listing.nom }}</td>
                <td>{{  listing.Souscripteur.nom }}</td>
                <td>{{  listing.dateCreation ? listing.dateCreation|date('d-m-Y') : ''  }}</td>
                <td>{{  listing.dateEnvoi ? listing.dateEnvoi|date('d-m-Y') : ''  }}</td>
                </tr>
                {% endfor %}


        </tbody>
    </table>

    
    <a href="{{ path('change_password') }}">Modifier mot de passe</a>
    <a href="{{ path('intermediaire_edit', {'id': intermediaire.id}) }}">Editer</a>

    {{ include('intermediaire/_delete_form.html.twig') }}
    
    {% endif %}
{% endblock %}
