<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('asset/css/pdf.css')}}"> 
</head>
<div id="titre">
<p> {{listing.nom}}</p>
<p> Listing du : {{ listing.dateEnvoi ? listing.dateEnvoi|date('d-m-Y') : '' }}</p>
<p> Par {{listing.intermediaire.nom}}</p>
</div>
<table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de Naissance</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code Postal</th>
                

            </tr>
        </thead>
        <tbody>
          {% for assure in listing.assures %}
            <tr>
                <td>{{ assure.nom }}</td>
                <td>{{ assure.prenom }}</td>
                <td>{{ assure.dateNaissance ? assure.dateNaissance|date('d-m-Y') : '' }}</td>
                <td>{{ assure.telephone }}</td>
                <td>{{ assure.numero }} {{ assure.libelle }}</td>
                <td>{{ assure.ville }}</td>
                <td>{{ assure.cp }}</td>
            </tr>

            {% if assure.beneficiaires %}
            <tr><td colspan=7>
                <table>
                    <tr>
                        <th colspan=4>Beneficiaires</th>
                    </tr>
                {% for beneficiaire in assure.beneficiaires %}

                    <tr>
                        <td>{{ beneficiaire.nom}}</td>
                        <td>{{beneficiaire.prenom}}</td>
                        <td>{{ beneficiaire.dateNaissance ? beneficiaire.dateNaissance|date('d-m-Y') : ''}}</td>
                        <td>{{beneficiaire.relation}} </td>
                
                    </tr>
                {% endfor %}
                </table>
            </td></tr>
            {% endif %}
            
        {% endfor %}
        </tbody>
    </table>