{% extends 'base.html.twig' %}

{% block title %}Listing{% endblock %}

{% block body %}
    <h1>Listing</h1>




    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ listing.nom }}</td>
            </tr>

             <tr>
                <th>Souscripteur</th>
                <td>{{ listing.souscripteur.nom }}</td>
            </tr>


            <tr>
                <th>DateCreation</th>
                <td>{{ listing.dateCreation ? listing.dateCreation|date('d-m-Y') : '' }}</td>
            </tr>

            <tr>
                <th>Date d'Envoi</th>
                <td>{{ listing.dateEnvoi ? listing.dateEnvoi|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'assurés</th>
                <td>{{ nb }}</td>
            </tr>
            </tbody>
    </table>
            <table id="listing" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de Naissance</th>
                        <th>Détails</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assure in listing.assures %}
                    <tr>
                        <td>{{ assure.nom }}</td>
                        <td>{{ assure.prenom }}</td>
                        <td>{{ assure.dateNaissance ? assure.dateNaissance|date('d-m-Y') : '' }}</td>
                        <td><a href="{{ path('assure_show', {'id': assure.id}) }}">Détails</a></td>
                    </tr>
                    {% endfor %}
        </tbody>
    </table>


    <br>
    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('assure_ajout', {'id': listing.id}) }}">Ajouter Assuré</a>
    <br>
    <a class = "btn-info " href="{{path('listing_pdf', {'id': listing.id})}}">PDF</a>
    <br>
    {% if listing.dateEnvoi %}
    <a class = "btn-info "  href="{{path('listing_envoyer', {'id': listing.id})}}">Renvoyer le Listing</a>
    {% else %}
    <a class = "btn-info "  href="{{path('listing_envoyer', {'id': listing.id})}}">Envoyer le Listing</a>
    {% endif %}
    <br>
    <a class = "btn-info "  href="{{ path('excel'), {'id': listing.id}) }}">Générer tableau</a>
    <br>
    <a class = "btn-info "href="{{ path('listing_edit', {'id': listing.id}) }}">Editer</a>
    <br>
    <a class="btn-warning" href="{{ path('listing_index') }}">Retour</a>

    {{ include('listing/delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.dataTables.js"></script>
    <script type="text/javascript">
          $(document).ready(function(){
          $('#listing').dataTable( {
              "language": {
                    "url": "dataTables.french.lang"
            }
              
          });
          });
    </script>
{% endblock %}
